.Table .header .reload_icon {
    width: 1.6vw;
    margin-right: 1.5vw;
}

.Table .header {
    display: flex;
    justify-content: space-between;
}

.Table .header .add_button{
    font-size: 1.2rem;
    margin-left: 0.7vw;
}