.Header .reload_icon {
    margin-right:2.5vw;
}

.Header {
    position: relative;
    height: 7vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Header span{
    font-size: 2rem;
    font-weight: bold;

}

.Header .add_button{
    margin-left: 1.7vw;
}