html,
body,
#root {
    height: 100%;
    width: 100%;
    margin: auto 0;
    padding: 0;
    direction: rtl;
    background-color:rgb(187, 185, 185) !important;
    color: #1B507C;
}

.white_text{
color: white;
}

.mainPage .header {
    height: 7vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vw;
    background-color: #1B507C !important;
}


.mainPage .header .logo {
    width: 4.5vw;
}

.mainPage .header p {
    position: relative;
    text-align: center;
    font-weight: bold;
    font-size: 1.6rem;
    top: 0.9vh;

}

.mainPage .header .clock {
    font-size: 1.2rem;
    font-weight: bold;
    width: 4vw;
}

.mainPage .nav {
    background-color: #1B507C !important;
    height: 7vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid white;
    margin-bottom: 3vh;
}

.mainPage .nav p {
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    margin-right: 1.6vw;
}

.mainPage .nav .menu{
    color: white;
    border:1px solid white;
    margin-left: 1.7vw;
}
